.toast-rest {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 30px;
  height: 24px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgb(0,0,0,0.4);
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1;

  &.toast-rest--top-right {
    top: -7px;
    right: 5px;
  }

  &.toast-rest--top-left {
    top: -7px;
    right: 5px;
  }

  &.toast-rest--bottom-right {
    bottom: -7px;
    right: 5px;
  }

  &.toast-rest--bottom-left {
    bottom: -7px;
    right: 5px;
  }
}
