.description {
  width: 500px;
  max-width: 100%;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.4;
}

.test-form {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.answer {
  font-weight: bold;
  font-size: 20px;
}
