<div class="description">
  <p>Given a natural number
    <mark>N</mark>
    , write a program that prints the smallest natural number
    <mark>P</mark>
    where
    <mark>P > N</mark>
    and
    <mark>P</mark>
    contains exactly the same digits as
    <mark>N</mark>
    . in case there is no such number, print
    <mark>"Impossible"</mark>
    .
  </p>
  <p>Limits:
    <mark>0 <= N <= 2 000 000 000 000</mark>
  </p>
  <p>Execution time limit:
    <mark>1s</mark>
  </p>
</div>
<div class="test-form">
  <div class="test-form__row">
    <label>Enter your number
      <mark>N</mark>
    </label>
    <input class="test-form-field" type="number" [(ngModel)]="numberN">
  </div>
  <div class="test-form__row">
    <button type="button" class="button button--reset" (click)="findNumberP()">Find number P</button>
  </div>
</div>
<div class="answer" *ngIf="numberP">
  <span *ngIf="numberP > 0">Number P: {{numberP}}</span>
  <span *ngIf="numberP < 0">Impossible</span>
</div>
