.main-wrap__states {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  justify-content: center;
}

.state {
  padding: 5px 10px;
  background-color: black;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-family: Tahoma, sans-serif;
}
