<div class="test-form">
  <div class="test-form__row">
    <input class="test-form-field" type="text" [(ngModel)]="title" placeholder="Type here your title (optional)">
  </div>
  <div class="test-form__row">
    <input class="test-form-field" type="text" [(ngModel)]="subtitle" placeholder="Type here your subtitle (optional)">
  </div>
  <div class="test-form__row">
    <textarea class="test-form-field" [(ngModel)]="message" placeholder="Type here your message (optional)"></textarea>
  </div>
</div>

<h1>Toast Notification Module</h1>
<button type="button" class="button" (click)="success()">Success toast</button>
<button type="button" class="button" (click)="info()">Info toast</button>
<button type="button" class="button" (click)="warning()">Warning toast</button>
<button type="button" class="button" (click)="error()">Error toast</button>

<div class="main-wrap__states" *ngIf="toastNotificationState">
  <div class="state state--show">Shown: {{toastNotificationState.countShow}}</div>
  <div class="state state--hide">Hidden: {{toastNotificationState.countHide}}</div>
</div>
