.main-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(0,0,0,0.1);

  a {
    display: block;
    color: #000000;
    margin: 0 15px;
    min-width: 100px;
    padding: 5px 10px;
    text-decoration: none;

    &.active {
      font-weight: bold;
    }
  }
}
