<div class="main-wrap">
  <div class="main-wrap__content">
    <nav>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Notification Toast</a>
      <a [routerLink]="['/nn/1']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Natural Number 1</a>
      <a [routerLink]="['/nn/2']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Natural Number 2</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
