:host {
  display: block;
  box-sizing: border-box;

  > * {
    box-sizing: border-box;
  }
}

.toast-notifications {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 999999;

  &.toast-notifications--top-right {
    flex-direction: column-reverse;
    justify-content: flex-start;
    top: 10px;
    right: 10px;
  }

  &.toast-notifications--top-left {
    flex-direction: column-reverse;
    justify-content: flex-start;
    top: 10px;
    left: 10px;
  }

  &.toast-notifications--bottom-right {
    flex-direction: column;
    justify-content: flex-end;
    bottom: 10px;
    right: 10px;
  }

  &.toast-notifications--bottom-left {
    flex-direction: column;
    justify-content: flex-end;
    bottom: 10px;
    left: 10px;
  }
}
