.toast-notification-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-height: 50px;
  padding: 15px 15px 15px 80px;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  &.notification-panel--success {
    background: rgb(90, 201, 93);
    text-shadow: 1px 1px 0 rgb(72, 144, 72);
  }

  &.notification-panel--info {
    background: rgb(115, 203, 211);
    text-shadow: 1px 1px 0 rgb(79, 149, 157);
  }

  &.notification-panel--warning {
    background: rgb(254, 210, 78);
    text-shadow: 1px 1px 0 rgb(204, 160, 75);
  }

  &.notification-panel--error {
    background: rgb(250, 95, 69);
    text-shadow: 1px 1px 0 rgb(199, 88, 63);
  }

  .toast-notification-panel__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);

    svg {
      width: 30px;
      height: 30px;
      margin: 0;
      padding: 0;

      path {
        fill: #ffffff;
      }
    }
  }

  .toast-notification-panel__content {
    display: block;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff;
  }

  .toast-notification-panel__title {
    font-size: 18px;
    font-weight: bold;
  }

  .toast-notification-panel__subtitle {
    font-size: 14px;
    font-weight: bold;
  }

  .toast-notification-panel__message {
    font-size: 12px;
  }
}
