/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.test-form {
  margin: 30px;

  .test-form__row {
    margin: 0 0 15px 0;
  }
}

.test-form-field {
  display: block;
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding: 0 10px;
}

textarea.test-form-field {
  padding: 10px;
  height: auto;
  min-height: 100px;
}

.button {
  display: inline-block;
  min-width: 150px;
  height: 40px;
  border: 1px solid #000000;
  background-color: #ffffff;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }

  &:active {
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
  }

  &.button--reset {
    text-transform: none;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
  font-weight: bold;
}

mark {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 4px;
  border-radius: 2px;
}
